
body {
  font-family: 'Montserrat', sans-serif;
/*  background-color: #3eaca7;*/
  margin: 0;
  padding: 0;

}

h1{
  font-family: 'Special Elite', cursive;
  padding: 2%;
  font-size: 4em;
}

h2{
  font-family: 'Special Elite', cursive;
  padding: 2%;
  font-size: 3em;
}

h3{
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  background-color: #8a92a4;
  padding: 1%;
}

h4{
  font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
     letter-spacing: 2px;
}

ul, li {
  line-height: 1.5;
  list-style-type: none;
}

.extra{
  text-transform: uppercase;
}

/* SVG ANIMATION
Tutorial by https://css-tricks.com/svg-line-animation-works/
SVGGator is another wonderful resource!*/


svg {
  width: 80%;
  fill: none;
  stroke: #3E4C8A;
  stroke-width: 0.2106;
  stroke-miterlimit: 10;
  padding: 50px;
}

.path {
stroke-dasharray: 13051.09;
stroke-dashoffset: 13051.09;
  animation: dash 5s linear forwards;
  /*animation-timing-function: ease-out cubic-bezier(0.39, 0.58, 0.57, 1);*/
}

@keyframes dash {
  to {
    stroke-dashoffset: 8700.73;
  }
}

/* Sections */

.section {
  padding: 5%;
  /*display: none;*/
}

.transparent{
  background-color: white;
  padding: 10px;
  opacity: 0.6;
  font-size: 80%;
}

#location, #identity {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: .8em;
  margin-left: 50px;
  padding-bottom: 20px;
}


.top{
  background-color: black;
  color: white;
  margin: 0;
}

.feature{
  background-color: #8a92a4;
}

footer {
    padding: 20px;
  font-weight: bold;
  font-size: .8em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.cases img{
 width: 100%;
}

/* Added sticky element to menu, per https://www.w3schools.com/howto/howto_css_sticky_element.asp*/

.menu {
  width: 80%;
  display: inline-flex;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.box {
background-color: white;
width: 100%;
height: 500px;
border-left: 20px;
padding: 20px;
overflow: hidden;
display: none;
}

.box img:hover{
  width: 30%;
  background-color: white;
  padding: 10px;
  border: solid black 2px;
  position: absolute;
}

/* Image grid layout from W3Schools: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.column{
  flex: 25%;
  max-width: 33%;
 padding: 4px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 70%;
  border: 1px black solid
}

/* enlarge images */
.column img:hover{
  width: 75%;
  /*padding: 10px;
  border: solid white 5px;
  border-radius: 2px;*/
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 60%;
  }

  .menu{
    flex: 100%;
    max-width: 80%;
    display: block;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column .menu {
    flex: 100%;
    max-width: 100%;
  }

  .menu{
    flex: 100%;
    max-width: 100%;
    display: block;
  }
}

/* MENU */

a{
  text-decoration: none;
  }

a:link{
  color: #e4e4e4;
}

a:visited {
  color: #984d1b;
}

a:hover {
  color: white;
}

button{
background-color: rgba(230, 240, 32, 0.87);
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  width: 200px;
}

button:hover {
  background-color: #819d2d;
}


/* Shapes */
.arrow{
    display:inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 25px solid #333;
    border-bottom: 15px solid transparent;
    margin-top: -10px;
    margin-left: 40px;
}

.line{
  width: 50px;
  height: 0;
  border-bottom: 5px solid #333;
  transform: rotate(20deg);

}

.dotted{
  height: 10px;
width: 10px;
background-color: #333;
border-radius: 50%;
transform: rotate(20deg);
animation-name: flash;
animation-duration: 2s;
animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.shift {
  margin-left: 15px ;
}

.first{
  animation-timing-function: ease-in;
    animation-delay: .2s;
}
.second{
  animation-timing-function: ease-in;
  animation-delay: .4s;
}
.third{
  animation-timing-function: ease-in;
    animation-delay: 1s;
}
.fourth{
    animation-delay: 1.4s;
}

@keyframes flash {
  0%   {background-color: transparent;}
  100% {background-color: #333;}
}

/*
old Colors
button: background-color: rgba(76, 187, 182, 0.87);
button hover:  background-color: #00aaFF;
visited  color: #1b6e98; */
