
body {
  font-family: 'Montserrat', sans-serif;
  margin: 50px;
  color: #001c33;
  background-color: #00FF7F;
  background-image: linear-gradient(30deg, #00FF7F, #00FFFF);
  /*background-image: url('../images/background.png');*/
  background-repeat: no-repeat;
}

h1{
  font-family: 'Special Elite', cursive;
  padding: 3%;
  font-size: 400%;
}

h2{
  font-family: 'Special Elite', cursive;

  padding: 2%;
  font-size:300%;
}

h3{
  font-family: 'Special Elite', cursive;
}

ul, li {
  line-height: 1.5;
}

/*
svg {
  width: 5%;
  fill:#33BA99;
}

svg:hover {
  width:6%;
  fill: #3E4C8A;
}
*/

/* Sections */

.section {
  padding-right: 20%;
  display: none;
}

#location, #identity {
  display: flex;
  align-items: center ;
  font-weight: bold;
  font-size: .8em;
}

#identity{
  position: relative;
  left: 50px;
  top: -50px;
}


header, footer {
  padding: 50px;
  width: 100%;
  margin-left: -50px;
}

footer {
  font-weight: bold;
  font-size: .8em;
}

.row {
  display: flex;
  flex-wrap: wrap;
   padding: 0 4px;
}

#cases img{
  width: 100%;
}

/* Image grid layout from W3Schools: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.column{
  flex: 25%;
  max-width: 25%;
 padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 70%;
  border: 1px black solid;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* MENU */

a:link{
  color: #e4e4e4;

}

a:visited {
  color: #00aaFF;
  text-decoration: none;
}

a:hover {
  color: white;
}

button{
background-color: Transparent;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  width: 200px;
}

button:hover {
  background-color: #00aaFF;
}
